<!DOCTYPE html>
<html>
<head>
    <title>Image Upload</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="container">
        <h1>Upload Image</h1>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <!-- Hidden input to trigger file selection -->
            <input type="file" name="image" id="fileInput" class="custom-file-input" required />
            <!-- Custom file input label -->
            <label for="fileInput" class="custom-file-label">Choose File</label>
            <!-- Password input -->
            <input type="password" name="password" placeholder="Enter password for this image (optional)" />
            <!-- Submit button -->
            <button type="submit">Upload</button>
        </form>

        <h2>Uploaded Images</h2>
        <ul>
            <% images.forEach(function(image) { %>
                <li class="image-item">
                    <a href="/image/<%= image.filename %>"><%= image.originalname %></a>
                    <button class="copy-btn" onclick="showShareWindow('<%= process.env.BASE_URL + '/image/' + image.filename %>')">Share</button>
                </li>
            <% }) %>
        </ul>
    </div>

    <!-- Notification element -->
    <div id="notification" class="notification"></div>

    <!-- Share window element -->
    <div id="shareWindow" class="shareWindow" style="display: none;">
        <h2>Share</h2>
        <input type="text" id="linkInput">
        <button onclick="copyLink()">Copy Link</button>
        <span>Use simple syntax here to filter User-Agent <br>e.g. huawei,xiaomi,baidu|https://google.com</span>
        <input type="text" id="uaFilter" style="width: 80%;">
    </div>

    <script>
        function copyLink() {
            const link = document.getElementById('linkInput').value;
            const uaFilter = document.getElementById('uaFilter').value;

            fetch('/generate-short-url', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ longUrl: link, uaFilter: uaFilter })
            })
            .then(res => res.json())
            .then(data => {
                const shortLink = `<%= process.env.BASE_URL %>/s/${data.shortUrl}`
                navigator.clipboard.writeText(shortLink).then(function() {
                    document.getElementById('linkInput').value = shortLink
                    showNotification('Link copied to clipboard')
                    setTimeout(() => {
                        document.getElementById('shareWindow').style.display = 'none'
                    }, 3000)
                }, function(err) {
                    showNotification('Failed to copy link')
                    console.error('Could not copy text: ', err)
                });
            })
            .catch(err => {
                showNotification('Failed to generate link')
                console.log(err);
            });
        }

        function showNotification(message) {
            const notification = document.getElementById('notification')
            notification.innerText = message
            notification.style.display = 'block'
            setTimeout(() => {
                notification.style.display = 'none'
            }, 2000)
        }

        function showShareWindow(link) {
            document.getElementById('shareWindow').style.display = 'flex'
            document.getElementById('linkInput').value = link
        }

        // Custom file input script
        document.getElementById('fileInput').addEventListener('change', function() {
            var fileName = this.files[0].name
            var nextSibling = this.nextElementSibling
            nextSibling.innerText = fileName
        })
    </script>
</body>
</html>
